[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
opencv-python = "*"
flask = "*"
apache-beam = "*"
pillow = "*"
matplotlib = "*"
scipy = "*"
cachetools = "*"
dill = "*"
sentinelsat = "*"
geopandas = "*"
shapely = "*"
geojsonio = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pydocstyle = "*"
pytest = "*"
pytest-mock = "*"
ipython = "*"
jupyter = "*"

[requires]
python_version = "3.7"
